@using Task_PurpleBuzz.Areas.Admin.ViewModels.FeaturedWorkWFU;
@model FeaturedWorkWFUDetailsVM
<div class="m-4 form-group">
	<h1>Description</h1>
	<p>
		@Html.Raw(Model.Description)
	</p>
	<br />

	<div class="card shadow mb-4">
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Photo</th>
							<th>Order</th>
							<th>Created At</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var photo in Model.Photos)
						{
							<tr>
								<td>
									<img class="w-25" src="~/assets/img/@photo.Name"> </td>
								<td>@photo.Order</td>
								<td>
									@Model.CreatedAt.ToString("dd.MM.yyyy HH:mm:ss")
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>